# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
venv/
ENV/
env/
.venv/
lunar_align/backend/venv/
*.log

# Node
node_modules/
dist/
dist-ssr/
*.local

# System & IDE
.DS_Store
Thumbs.db
.vscode/
.idea/
.gemini/
Git-2.55.0.5-64-bit.exe
